<section class="space" aria-labelledby="space-title">
  <div class="space__inner container">
    <h2 id="space-title" class="space__title">Наш простір</h2>
    <p class="space__subtitle">Простір, у якому дітям комфортно і радісно пізнавати світ. Світло, натуральні матеріали й турбота в кожній деталі.</p>
    <div class="space__gallery">
      <img class="space__img" src="{{baseUrl}}img/raw/ourSpace1.png" alt="Навчальні матеріали та літери" width="300" height="300" loading="lazy" />
      <img class="space__img" src="{{baseUrl}}img/raw/ourSpace2.png" alt="Дитина й кубики" width="300" height="300" loading="lazy" />
      <img class="space__img" src="{{baseUrl}}img/raw/ourSpace3.png" alt="Гра з кубиками на підлозі" width="300" height="300" loading="lazy" />
      <img class="space__img" src="{{baseUrl}}img/raw/ourSpace4.png" alt="Заняття з дітьми за столом" width="300" height="300" loading="lazy" />
      <img class="space__img" src="{{baseUrl}}img/raw/ourSpace5.png" alt="Читання та навчання з дитиною" width="300" height="300" loading="lazy" />
      <img class="space__img" src="{{baseUrl}}img/raw/ourSpace6.png" alt="Клас та ігрова зона" width="300" height="300" loading="lazy" />
    </div>
  </div>
</section>
